﻿@using Litium.Accelerator.ViewModels.Framework
@model NavigationViewModel

@if (Model != null && Model.ContentLinks.Any())
{
    <nav class="subnav" role="navigation">
        @foreach (var subNavigationCategory in Model.ContentLinks)
        {
            <h3 class="subnav__header">
                @if (subNavigationCategory.Url != null)
                {
                    <a href="@subNavigationCategory.Url">@subNavigationCategory.Name</a>
                }
                else
                {
                    @subNavigationCategory.Name
                }
            </h3>
            @DisplayLinks(subNavigationCategory)
        }
    </nav>
}

@helper DisplayLinks(ContentLinkModel contentLink, string ulCssClass = "")
{
    if (contentLink?.Links != null && contentLink.Links.Any())
    {
        <ul class="subnav__list @ulCssClass">
            @foreach (var childLink in contentLink.Links)
            {
                <li class="subnav__item @GetSubnavigationCssClass(childLink)">
                    <a class="subnav__link" href="@childLink.Url">@childLink.Name @Html.Raw(string.IsNullOrWhiteSpace(childLink.ExtraInfo) ? string.Empty : $"<span>({childLink.ExtraInfo})</span>")</a>
                    @DisplayLinks(childLink)
                </li>
            }
        </ul>
    }
}

@helper GetSubnavigationCssClass(ContentLinkModel contentLink)
{
    var classes = new List<string>();

    if (contentLink.Links != null)
    {
        classes.Add("has-children");
        if (contentLink.Links.Any())
        {
            classes.Add("expanded");
        }
    }

    if (contentLink.IsSelected && (contentLink.Links == null || contentLink.Links.All(x => !x.IsSelected)))
    {
        classes.Add("active");
    }
    @Html.Raw(classes.Any() ? string.Join(" ", classes) : string.Empty)
}