﻿@using Litium.Studio.Extenssions;
@model Litium.Web.Models.Products.ProductPriceModel

@if (Model.Price != null)
{
    <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
        @if (Model.CampaignPrice != null)
        {
            <span itemprop="price" class="product__campaign-price">
                @Model.CampaignPrice.FormatPrice(true)
            </span>
            <span class="product__old-price">
                (@Model.Price.FormatPrice(true))
            </span>
        }
        else
        {
            <span itemprop="price" class="price">
                @if (Model.TierPrices.Any())
                {
                    @("product.pricefrom".AsWebSiteString())
                    @Model.TierPrices.OrderBy(x => x.Price).First().FormatPrice(true)
                }
                else
                {
                    @Model.Price.FormatPrice(true)
                }
            </span>
        }
        <meta itemprop="priceCurrency" content="@Model.Currency.Id" />
    </div>
}