/* Breakpoint */
@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
@mixin mobile-tablet {
    @media (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}
@mixin tablet-desktop {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}
@mixin transition($attr : all, $time : 0.3s, $type: ease) {
    -moz-transition: #{$attr} #{$time} #{$type};
    -o-transition: #{$attr} #{$time} #{$type};
    -webkit-transition: #{$attr} #{$time} #{$type};
    transition: #{$attr} #{$time} #{$type};
}
@mixin textoverflow($type: ellipsis) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin expand {
    width: 100%;
}
@mixin button--expand {
    padding: rem($fontsize-large);
    font-size: rem($fontsize-large);
    @include expand;
}
@mixin link--black-light {
    &, &:hover, &:focus, &:active {
        color : $color-black-light;
        text-decoration: none;
    }
}
@mixin link--block {
    display: inline-block;
    &>&__link--block {
        padding: rem(15px 7.5px);
        @include link--black-light;
        display: flex;
        align-items: center;
        &:hover {
            background-color: $color-grey-lighter;
        }
    }
    &>&__link--block>&__icon {
        font-style: normal;
        font-size: rem(24px);
        width: rem(24px);
        height: rem(24px);
        line-height: rem(24px);
        @include tablet-desktop {
            margin-right: rem(5px);
        }
    }
}
@mixin placeholder {
    color : $color-grey;
    font-weight: 300;
}
/* icon */
@mixin icon {
    width: rem(24px);
    height: rem(24px);
}
@mixin icon--medium {
    width: rem(16px);
    height: rem(16px);
}
@mixin icon--small {
    width: rem(10px);
    height: rem(10px);
}
@mixin icon--bag($color:333) {
    background: url("data:image/svg+xml;utf-8, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	viewBox='50.039 102.044 511.921 587.959'%3E %3Cpath fill='%23#{$color}' d='M523.928,262.217c-0.422-4.671-4.272-8.189-8.958-8.189h-94.983h-10v-10v-37.999 c0-57.337-46.647-103.985-103.985-103.985c-57.337,0-103.985,46.647-103.985,103.985v37.987v10h-10h-94.98 c-4.684,0.001-8.539,3.522-8.963,8.19L50.074,680.195c-0.439,4.938,3.237,9.332,8.196,9.771c0.263,0.023,0.527,0.037,0.785,0.037 h493.909c4.961-0.01,9.005-4.066,8.996-9.045c-0.001-0.266-0.012-0.529-0.035-0.785L523.928,262.217z M220.014,244.016v-37.987 c0-47.413,38.573-85.986,85.986-85.986s85.986,38.573,85.986,85.986v37.987v10h-10H230.014h-10V244.016z M532.142,671.957H79.859 h-10.95l0.991-10.904l34.52-379.942l0.826-9.095h9.133h77.695h10v10v43.258v5.773l-5,2.887 c-13.37,7.719-17.968,24.877-10.249,38.248c4.988,8.639,14.293,14.006,24.283,14.006c4.878,0,9.707-1.3,13.964-3.758 c6.477-3.74,11.11-9.777,13.045-17.002c1.936-7.223,0.942-14.768-2.797-21.245c-2.454-4.251-5.998-7.794-10.248-10.249l-5-2.887 v-5.773v-43.258v-10h10h151.913h10v10v43.258v5.773l-5,2.887c-13.37,7.72-17.969,24.877-10.249,38.248 c4.987,8.639,14.293,14.006,24.283,14.006c4.878,0,9.706-1.3,13.965-3.758c6.477-3.739,11.108-9.777,13.045-17.001 c1.936-7.224,0.941-14.769-2.797-21.246c-2.454-4.25-5.998-7.794-10.248-10.249l-5-2.887v-5.773v-43.258v-10h10h77.694h9.135 l0.824,9.097l34.461,379.942l0.989,10.902H532.142L532.142,671.957z'/%3E %3C/svg%3E ") center no-repeat;
}
@mixin icon--profile($color:333) {
    background: url("data:image/svg+xml;utf-8, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='-390.747 401.25 611.997 612'%3E %3Cpath fill='%23#{$color}' d='M-252.192,608.288c0,28.14,4.531,55.458,13.448,81.159c8.564,24.725,20.792,46.939,36.358,65.964 c30.877,37.752,71.47,58.969,114.549,59.916h3.087c44.228,0,86.014-21.293,117.614-59.941 c15.563-19.049,27.815-41.235,36.383-65.967c8.914-25.698,13.448-53.017,13.448-81.181c0-28.14-4.531-55.433-13.448-81.134 c-8.565-24.75-20.818-46.914-36.383-65.938C1.264,422.518-40.522,401.25-84.75,401.25c-45.125,0-87.408,21.814-119.083,61.411 C-235.009,501.608-252.192,553.328-252.192,608.288z M-84.75,419.453c40.316,0,78.094,20.021,106.384,56.354 c27.642,35.563,42.881,82.628,42.881,132.481c0,49.904-15.242,96.948-42.881,132.481c-28.291,36.358-66.068,56.38-106.384,56.38 s-78.094-20.021-106.384-56.38c-27.642-35.562-42.881-82.6-42.906-132.481c0-49.854,15.213-96.919,42.906-132.456 C-162.869,439.474-125.092,419.453-84.75,419.453z'/%3E %3Cpath fill='%23#{$color}' d='M53.808,797.146h-0.101c-4.83,0.299-8.615,4.405-8.518,9.313c0.148,4.805,3.984,8.666,8.766,8.842 c82.153,0.177,149.017,67.112,149.117,149.265c-0.025,16.813-13.697,30.506-30.48,30.506h-514.681 c-16.784-0.025-30.455-13.696-30.468-30.483c0.101-82.175,66.974-149.063,149.054-149.265c2.417-0.098,4.631-1.096,6.277-2.839 c1.693-1.743,2.564-4.059,2.489-6.476c-0.098-4.83-3.933-8.69-8.741-8.863c-44.599,0.025-86.561,17.457-118.187,49.082 c-31.651,31.654-49.083,73.689-49.083,118.36c0.025,26.799,21.865,48.636,48.708,48.661h514.605 c26.818-0.025,48.636-21.862,48.683-48.687C221.25,872.251,146.146,797.146,53.808,797.146z'/%3E %3C/svg%3E ") center no-repeat;
}
@mixin icon--magnifier($color:333) {
    background: url("data:image/svg+xml;utf-8, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='-297.501 71.509 369.338 368.981'%3E %3Cpath fill='%23#{$color}' d='M63.51,390.411L-51.823,275.196l-3.436-3.444l2.435-4.202c11.451-19.746,17.501-42.271,17.501-65.101 c0-72.188-58.789-130.94-131.067-130.94s-131.112,58.753-131.112,130.94s58.834,130.959,131.112,130.959 c22.857,0,45.408-6.06,65.182-17.493l4.193-2.416l3.417,3.408L21.744,432.123c5.555,5.41,12.867,8.367,20.585,8.367 c7.755,0,15.067-2.957,20.612-8.367C74.573,420.761,74.835,402.06,63.51,390.411z M-166.371,322.136 c-66.038,0-119.769-53.686-119.769-119.669c0-65.967,53.731-119.652,119.769-119.652c66.029,0,119.751,53.686,119.751,119.652 C-46.62,268.451-100.342,322.136-166.371,322.136z M55.539,424.223c-3.436,3.427-8.016,5.32-12.876,5.32 c-4.851,0-9.449-1.911-12.903-5.356L-82.57,311.966l-4.86-4.869l5.229-4.418c5.816-4.905,11.244-10.333,16.14-16.122l4.409-5.229 l4.86,4.833L55.575,398.418C62.68,405.541,62.662,417.119,55.539,424.223z'/%3E %3C/svg%3E ") center no-repeat;
}
@mixin icon--menu($color:333) {
    background: url("data:image/svg+xml;utf-8, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 217 179.961' %3E %3Crect x='0.5' y='5.5' stroke='%23#{$color}' stroke-miterlimit='10' width='216' height='8.504'/%3E %3Crect x='0.5' y='85.729' stroke='%23#{$color}' stroke-miterlimit='10' width='216' height='8.504'/%3E %3Crect x='0.5' y='165.957' stroke='%23#{$color}' stroke-miterlimit='10' width='216' height='8.504'/%3E %3C/svg%3E ") center no-repeat;
}
@mixin icon--cross($color:333) {
    background: url("data:image/svg+xml;utf-8, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='119.952 219.132 367.2 367.2'%3E%3Cpolygon fill='%23#{$color}' points='474.912,219.132 303.552,391.104 131.58,219.132 119.952,230.76 291.312,402.732 119.952,574.704 131.58,586.332 303.552,414.36 474.912,586.332 487.152,574.704 315.18,402.732 487.152,230.76 '/%3E%3C/svg%3E ") center no-repeat;
}
@mixin icon--caret-down($color:333) {
    background: url("data:image/svg+xml;utf-8, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='131.58 298.692 367.2 183.6'%3E%3Cpolygon fill='%23#{$color}' stroke='%23#{$color}' points='141.372,298.692 315.18,467.604 489.6,298.692 498.78,304.2 315.18,482.292 131.58,304.2 '/%3E%3C/svg%3E ") center no-repeat;
}
@mixin icon--checked($color:333) {
    background: url("data:image/svg+xml;utf-8, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='4.976 -199.505 250 250' fill='%23#{$color}'%3E %3Cpolygon points='93.645,47.43 252.114,-148.992 245.703,-156.938 97.18,27.169 93.645,31.551 90.108,27.168 14.248,-66.884 7.837,-58.921 '/%3E %3C/svg%3E ") center no-repeat;
}
@mixin icon--pencil($color:333) {
    background: url("data:image/svg+xml;utf-8, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 90 612 611.999' fill='%23#{$color}'%3E %3Cpath d='M607.298,165.492l-70.789-70.79C533.385,91.578,529.313,90,525.313,90c-0.687,0-1.332,0.289-2.013,0.382 c-0.527,0.076-1.042,0.168-1.551,0.299c-1.228,0.304-2.358,0.762-3.479,1.387c-0.589,0.333-1.145,0.696-1.681,1.112 c-0.494,0.379-1.088,0.565-1.542,1.018L87.269,521.974L0.38,690.881c-1.751,5.604,2.82,11.118,8.279,11.118 c0.808,0,1.634-0.122,2.465-0.378l168.904-86.889l427.774-427.781C613.592,181.167,613.364,171.558,607.298,165.492z M91.591,543.162l67.966,66.246L21.5,681.5L91.591,543.162z M172.121,600.879l-72.913-71.067L525.5,108.5L595,178L172.121,600.879z' /%3E %3C/svg%3E ") center no-repeat;
}
@mixin icon--bin($color:333) {
    background: url("data:image/svg+xml;utf-8, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='10 10 592 592' fill='%23#{$color}'%3E %3Cpath d='M201.25,239.5h18.25v247.75h-18.25V239.5z M296.875,487.25h18.25V239.5h-18.25V487.25z M392.5,487.25h18.25V239.5H392.5 V487.25z M525.5,592.875c0,5.031-4.094,9.125-9.125,9.125H95.625c-5.032,0-9.125-4.094-9.125-9.125V153v-10h-10H19.125 c-5.032,0-9.125-4.094-9.125-9.125s4.093-9.125,9.125-9.125H153h10v-10V19.125c0-5.031,4.094-9.125,9.125-9.125h267.75 c5.031,0,9.125,4.094,9.125,9.125v95.625v10h10h133.875c5.031,0,9.125,4.094,9.125,9.125S597.906,143,592.875,143H535.5h-10 M430.75,124.75v-10v-76.5v-10h-10h-229.5h-10v10v76.5v10 M114.75,143h-10v10v420.75v10h10h382.5h10v-10V153v-10'/%3E %3C/svg%3E ") center no-repeat;
}
@mixin icon--rotate-arrow-2($color:333) {
    background: url("data:image/svg+xml;utf-8, %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='10 10 592 592' fill='%23#{$color}'%3E %3Cpath d='M10,210.375V19.125C10,14.094,14.093,10,19.125,10s9.125,4.094,9.125,9.125v138.848v38.685l18.747-33.839 c25.209-45.503,62.079-83.741,106.622-110.582C199.475,24.605,252.167,10,306,10c36.9,0,72.884,6.707,106.95,19.936 c32.904,12.776,63.021,31.219,89.517,54.814c50.815,45.255,84.394,106.333,95.346,173h-18.574 C556.126,126.311,440.177,28.25,306,28.25c-106.53,0-204.971,62.296-250.791,158.708l-6.792,14.292h15.824h146.134 c5.031,0,9.125,4.094,9.125,9.125s-4.094,9.125-9.125,9.125h-191c-0.413-0.037-2.917-0.309-5.231-1.501 C11.992,216.889,10,215.197,10,210.375z M598.831,393.837c-1.681-0.996-3.944-1.35-5.373-1.35h-0.034l-0.386,0.036l-0.163-0.023 h-191.25c-5.031,0-9.125,4.094-9.125,9.125s4.094,9.125,9.125,9.125h146.02h15.835l-6.806,14.298 C510.785,521.456,412.39,583.75,306,583.75c-134.177,0-250.126-98.061-273.238-229.5H14.187 c10.954,66.661,44.531,127.736,95.347,172.993c26.496,23.598,56.613,42.041,89.517,54.819C233.117,595.292,269.1,602,306,602 c53.832,0,106.525-14.605,152.381-42.237c44.544-26.841,81.413-65.079,106.622-110.581l18.747-33.839v38.685v138.848 c0,5.031,4.094,9.125,9.125,9.125s9.125-4.094,9.125-9.125v-191.25C602,395.717,599.697,394.352,598.831,393.837z'/%3E %3C/svg%3E ") center no-repeat;
}