.order-table {
    @extend .simple-table;
    margin-top: rem(20px);

    .order-table__header {
        @extend .simple-table__header;
        border: 1px solid $color-grey;
        width: 100%;

        .columns {
            padding: rem(10px);
        }
    }

    .order-table__body {
        border: 1px solid $color-grey;
        border-top: none;
        width: 100%;

        .columns {
            padding: rem(5px 10px);
        }
    }

    &__space-delimiter {
        height: rem(30px);
    }
}

.order-detail {
    &__container {
        padding: rem(10px);
    }
    &__button-container {
        margin-bottom: rem(30px);
    }
    &__button {
        &, &:focus, &:active, &:hover {
            display: inline-block;
            padding: rem(10px 15px);
            line-height: 1em;
            text-align: center;
            background-color: $color-primary;
            color: $color-white;
            border: none;
            margin-bottom: rem(10px);
            margin-right: rem(5px);
            cursor: pointer;
        }
    }
    &__product-link {
        &, &:focus, &:active, &:hover {
            color: $color-link;
        }
    }
}

.order {
    &__checkbox-container {
        margin-top: rem(20px);
    }
}