.product-list {
    &__header {
        font-size: rem(36px);
        line-height: rem(60px);
    }
    &__link {
        font-weight: 300;
        font-size: rem($fontsize-h4);
        line-height: rem(30px);
        text-transform: uppercase;
    }
    &__item {
        display: flex;
        flex-flow: column wrap;
    }
}

.product {
    line-height: 1.5em;
    &__container {
        display: flex;
        flex-flow: column wrap;
    }
    &__group-header {
        background-color: $color-grey-lightest;
        padding: rem(15px);
        margin-bottom: rem(15px);
    }
    &__group-image {
        margin-bottom: 15px;
    }
    &__figure {
        width: 100%;
        flex: 1 1 auto;
        margin: rem(15px 0 30px);
        display: flex;
        max-height: rem(400px);
    }
    &__image-link {
        margin: auto;
        width: 100%;
    }
    &__image {
        max-height: rem(300px);
    }
    &__info {
        width: 100%;
        margin-bottom : rem(30px);
        padding-top: 10px;
        border-top: rem(1px) solid $color-primary;
        min-height: rem(200px);
    }
    &__name, &__brand {
        white-space: nowrap;
        width: 100%;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__name {
        font-family: $font-family;
        font-size : rem($fontsize-h4);
        margin-bottom: 0;
    }
    &__brand {
        font-size : rem($fontsize-large);
        line-height: 1.5em;
        font-weight: 300;
        margin-bottom: 0;
    }
    &__price, &__campaign-price {
        font-size : rem(28px);
        line-height: 1.5em;
        font-weight: 300;
    }
    &__old-price {
        font-size : rem(16px);
        color: $color-grey-darkest;
    }
    &__quantity-container {
        margin-top: 10px;
        display: flex;
    }
    &__quantity {
        font-size : rem($fontsize-large);
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1 1 auto;
    }
    &__buy-quantity {
        font-size : rem($fontsize-large);
        margin-left: 10px;
        flex: 1 0 60px;
        margin-bottom: 0;
        max-width: rem(80px);
    }
    &__buy-button {
        display: inline-block;
        font-size : rem($fontsize-large);
        color: $color-white;
        padding: rem(10px 15px);
        line-height: 1em;
        text-align: center;
        background-color: $color-primary;
        &:hover, &:active, &:focus {
            color: $color-white;
        }
        &--disabled {
            pointer-events: none;
            background-color: $color-black-light;
        }
    }

    &--mixed {
        display: flex;
        flex-flow: column wrap;
    }
}