﻿@using Litium.Studio.Extenssions;

@model IList<Litium.Web.Models.FileModel>

@if (Model?.Any() ?? false)
{
    <div class="files">
        <h2>@Html.Encode("general.list.file".AsWebSiteString())</h2>
        <ul class="no-list">
            @foreach (var file in Model)
            {
            <li>
                @Html.DisplayFor(x => file)
            </li>
            }
        </ul>
    </div>
}
