﻿@using Litium.Accelerator.Mvc.Extensions

<!DOCTYPE html>
<html>
<head>
    @Html.Action("Head", "Layout")
    @RenderSection("head", false)
    @Html.Action("Index", "ClientContext")
</head>
<body>
    @{
        var bareLayout = (bool?)ViewContext.RouteData.DataTokens["BareLayout"] == true;
    }
    @if (!bareLayout)
    {
        @Html.Action("Header", "Layout")
        @Html.Action("BreadCrumbs", "Layout")
    }
    <main class="main-content">
        @RenderBody()
    </main>
    @if (!bareLayout)
    {
        @Html.Action("Footer", "Layout")
    }
    <div id="globalNotification" />
    @RenderSection("js", false)
    @Html.Partial("~/Views/Shared/_Script.cshtml")
</body>
</html>
