@{
    string fileName = Context.Cache["LitiumAppJs"] as string;
    if (fileName == null)
    {
        lock (this) {
            fileName = Context.Cache["LitiumAppJs"] as string;
            if (fileName == null) {
                var file = System.Web.Hosting.HostingEnvironment.VirtualPathProvider.GetDirectory("/ui")
                    .Files
                    .OfType<System.Web.Hosting.VirtualFile>()
                    .FirstOrDefault(x =>
                    x.Name.StartsWith("app.", StringComparison.OrdinalIgnoreCase)
                    && x.Name.EndsWith(".js", StringComparison.OrdinalIgnoreCase));
                fileName = "/ui/" + file.Name;
                Context.Cache.Add(
                        "LitiumAppJs",
                        fileName,
                        System.Web.Hosting.HostingEnvironment.VirtualPathProvider.GetCacheDependency("/ui/" + file.Name, new string[] { "/ui/" + file.Name }, DateTime.UtcNow),
                        System.Web.Caching.Cache.NoAbsoluteExpiration,
                        System.Web.Caching.Cache.NoSlidingExpiration,
                        System.Web.Caching.CacheItemPriority.Default,
                        null);
            }
        }
    }
}
<script type="text/javascript" src="@Litium.Studio.ContentFingerprint.FingerprintExtension.ContentFingerprint(fileName, useQueryHash: true)"></script>