﻿@model Litium.Accelerator.ViewModels.Author.AuthorViewModel

<div class="row">
    <div class="columns small-12 medium-4">
        @Html.ImageFor(x => x.Image, new Size(400, -1))
    </div>
    <div class="columns small-12 medium-8">
        <h2>Featured author: @Model.Title</h2>
        <p>@Model.Introduction</p>
    </div>
    <div>
        <h3>Popular books by @Model.Title</h3>
        <ul>
            @foreach (var book in Model.Books)
            {
                <li>@book</li>
            }
        </ul>
    </div>
</div>