﻿@using Litium.Web.Models;
@using Litium.Accelerator.Constants;
@using System.Drawing;

@model Litium.Accelerator.ViewModels.Author.AuthorViewModel

@Html.BlockContainer(Model.Blocks, BlockContainerNameConstant.Header)

<div class="row">
    <div class="small-12 medium-8 columns">
        @if (Model.Image != null)
        {
            <figure>
                @Html.ImageFor(x => x.Image, maxSize: new Size(786, -1))
                @if (!string.IsNullOrWhiteSpace(Model.Image.Alt))
                {
                    <figcaption>@Model.Image.Alt</figcaption>
                }
            </figure>
        }
        <h1>@Model.Title</h1>
        @if (!string.IsNullOrWhiteSpace(Model.Introduction))
        {
            <p class="intro">@Model.Introduction</p>
        }
        @Model.Text
    </div>

    <div class="small-12 medium-4 columns">
        @{
            if (Model.Links != null)
            {
                @Html.Partial("_LinkList", new List<LinkModel>(Model.Links))
            }
            if (Model.Files != null)
            {
                @Html.Partial("_FileList", new List<FileModel>(Model.Files))
            }
        }
    </div>
</div>