﻿@model Litium.Accelerator.ViewModels.Order.OrderViewModel
@using Litium.Accelerator.StateTransitions

@{
    ViewContext.RouteData.DataTokens["BareLayout"] = true;
}

<div class="row order-detail__container">
    <div class="columns">
        @if (Model.ShowButton)
        {
            <div class="row-inner order-detail__button-container">
                <div>
                    <a class="order-detail__button" href="@($"{Request?.Url?.AbsoluteUri}&print=true")" target="_blank">
                        @Html.WebSiteString("general.print")
                    </a>
                </div>
                @if (Model.Order.OrderStatus == (short)OrderState.WaitingConfirmation && Model.HasApproverRole)
                {
                    <div>
                        @using (Html.BeginForm("ApproveOrder", "Order", new { Id = Model.Order.ExternalOrderID, IsOrderPage = true }))
                        {
                            @Html.AntiForgeryToken()
                            <input class="order-detail__button" type="submit" value="@Html.WebSiteString("general.approve")" />
                        }
                    </div>
                    <div>
                        @using (Html.BeginForm("CancelOrder", "Order", new { Id = Model.Order.ExternalOrderID, IsOrderPage = true }))
                        {
                            @Html.AntiForgeryToken()
                            <input class="order-detail__button"type="submit" value="@Html.WebSiteString("general.cancel")" />
                        }
                    </div>
                }
                <div>
                    <input class="order-detail__button" type="button" value="@Html.WebSiteString("general.reorder")" onclick="parent.window.__litium.events.onReorderClick('@Model.Order.OrderId')" />
                </div>
                <div>
                    <a class="order-detail__button" href="@Model.OrderHistoryUrl">
                        @Html.WebSiteString("orderdetail.backtoorderlist")
                    </a>
                </div>
            </div>
        }
        <div class="row-inner">
            <div class="medium-6">
                <h3>
                    @Html.WebSiteString("orderdetail.ordernumber"): @Model.Order.ExternalOrderID
                </h3>
            </div>
            <div class="medium-6 text--right">
                <p>
                    <span>
                        @Html.WebSiteString("orderdetail.orderdate"): @Model.Order.OrderDate.ToString("d")
                    </span>
                    <br />
                    <span>
                        @Html.WebSiteString("orderdetail.orderstatus"): <strong> @Model.Order.Status</strong>
                    </span>
                    <br />
                    @if (Model.Order.ActualDeliveryDate.HasValue && Model.Order.ActualDeliveryDate.Value < DateTime.MaxValue.Date)
                    {
                        <span>
                            @Html.WebSiteString("orderdetail.deliverydate"): <strong>@(Model.Order.ActualDeliveryDate?.ToShortDateString())</strong>
                        </span>
                    }
                </p>
            </div>
        </div>
        <div class="row-inner">
            <div class="small-12">
                <div class="row medium-unstack no-margin">
                    <div class="medium-12">
                        @Html.WebSiteString("orderdetail.information")
                    </div>
                </div>
                <div class="row no-margin">
                    <div class="medium-12">
                        <p>
                            @Model.Order.CustomerInfo.Address1 <br />
                            @Model.Order.CustomerInfo.Zip @Model.Order.CustomerInfo.City
                            @Model.Order.CustomerInfo.Country
                        </p>
                        <p>
                            @Html.WebSiteString("orderdetail.organizationnumber"): @Model.Order.MerchantOrganizationNumber <br />
                            @Html.WebSiteString("orderdetail.orderreference"): @Model.Order.CustomerInfo.FirstName @Model.Order.CustomerInfo.LastName
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-inner order-table">
            <div class="row medium-unstack no-margin order-table__header">
                <div class="columns medium-5">@Html.WebSiteString("orderdetail.column.products")</div>
                <div class="columns medium-2">@Html.WebSiteString("orderdetail.column.quantity")</div>
                <div class="columns medium-2">@Html.WebSiteString("orderdetail.column.price")</div>
                <div class="columns medium-3 text--right">@Html.WebSiteString("orderdetail.column.total")</div>
            </div>    
            <div class="order-table__body">
                @foreach (var delivery in Model.Order.Deliveries)
                {
                    foreach (var row in Model.Order.OrderRows.Where(x => x.DeliveryId == delivery.DeliveryId))
                    {
                        <div class="row medium-unstack no-margin">
                            <div class="columns medium-5">
                                <a href="@(row.Link?.Href)" target="_parent" class="order-detail__product-link">
                                    @row.Brand <strong>@row.Name</strong>
                                </a>
                            </div>
                            <div class="columns medium-2">
                                @row.QuantityString
                            </div>
                            <div class="columns medium-2">
                                @if (row.PriceInfo?.HasPrice == true)
                                {
                                    if (row.PriceInfo.CampaignPrice != null)
                                    {
                                        @row.PriceInfo.CampaignPrice.FormatPrice(true)
                                    }
                                    else
                                    {
                                        @row.PriceInfo.Price.FormatPrice(true)
                                    }
                                }
                            </div>
                            <div class="columns medium-3 text--right">
                                @row.TotalPrice
                            </div>
                        </div>
                    }
                    <div class="row medium-unstack no-margin">
                        <div class="columns medium-9">
                            @Html.WebSiteString("orderdetail.deliverymethod"): @delivery.DeliveryMethodTitle
                        </div>
                        <div class="columns medium-3 text--right">@delivery.DeliveryRowTotalCost</div>
                    </div>
                }
                <div class="row medium-unstack no-margin">
                    <div class="columns medium-9">
                        @Html.WebSiteString("orderdetail.paymentmethod") - @Model.Order.PaymentMethod
                    </div>
                    <div class="columns medium-3 text--right">
                        @Model.Order.OrderTotalFee
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.Order.OrderTotalDiscountAmount))
                {
                    <div class="row medium-unstack no-margin">
                        <div class="columns medium-9">
                            @Html.WebSiteString("orderdetail.discount")
                        </div>
                        <div class="columns medium-3 text--right">
                            @Model.Order.OrderTotalDiscountAmount
                        </div>
                    </div>
                }
                <div class="row medium-unstack no-margin order-table__space-delimiter"></div>
                <div class="row medium-unstack no-margin">
                    <div class="columns medium-3 medium-offset-9 text--right">
                        @Html.WebSiteString("orderdetail.grandtotal"): &nbsp &nbsp<strong>@Model.Order.OrderGrandTotal</strong>
                    </div>
                </div>
                <div class="row medium-unstack no-margin">
                    <div class="columns medium-3 medium-offset-9 text--right">
                        @Html.WebSiteString("orderdetail.ordertotalvat"):  @Model.Order.OrderTotalVat
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    if (Model.IsPrintPage)
    {
        <script type="text/javascript">
            window.print();
        </script>
    }
}