﻿@using Litium.Accelerator.Constants;
@using Litium.Studio.Extenssions;
@using Litium.Web.Mvc;
@model Litium.Accelerator.ViewModels.MyPages.MyPagesViewModel

<div class="row">
    <div class="small-12">
        <p class="text--right">
            @Html.LinkFor(x => x.LogoutLink, "login.logout".AsWebSiteString())
        </p>

        <section class="tab">

            <input type="radio" class="tab__radio" id="@MyPagesTabConstants.MyDetails" name="tab-radio" @(Model.CurrentTab == MyPagesTabConstants.MyDetails ? "checked" : "") />
            @if (Model.IsBusinessCustomer)
            {
                <input type="radio" class="tab__radio" id="@MyPagesTabConstants.Persons" name="tab-radio" @(Model.CurrentTab == MyPagesTabConstants.Persons ? "checked" : "") />
                <input type="radio" class="tab__radio" id="@MyPagesTabConstants.Addresses" name="tab-radio" @(Model.CurrentTab == MyPagesTabConstants.Addresses ? "checked" : "")/>
            }
            @if (Model.MayUserEditLogin)
            {
                <input type="radio" class="tab__radio" id="@MyPagesTabConstants.LoginInfo" name="tab-radio" @(Model.CurrentTab == MyPagesTabConstants.LoginInfo ? "checked" : "")/>
            }
            <input type="radio" class="tab__radio" id="@MyPagesTabConstants.OrderHistory" name="tab-radio" @(Model.CurrentTab == MyPagesTabConstants.OrderHistory ? "checked" : "")/>

            <nav class="tab__header-container">
                <label class="tab__header" for="@MyPagesTabConstants.MyDetails"> @Html.WebSiteString("mypage.info.title") </label>
                @if (Model.IsBusinessCustomer)
                {
                    <label class="tab__header" for="@MyPagesTabConstants.Persons"> @Html.WebSiteString("mypage.person.title") </label>
                    <label class="tab__header" for="@MyPagesTabConstants.Addresses"> @Html.WebSiteString("mypage.address.title") </label>
                }
                @if (Model.MayUserEditLogin)
                {
                    <label class="tab__header" for="@MyPagesTabConstants.LoginInfo"> @Html.WebSiteString("mypage.login.title") </label>
                }
                <label class="tab__header" for="@MyPagesTabConstants.OrderHistory"> @Html.WebSiteString("mypage.order.title") </label>
            </nav>

            <section class="tab__content-container">
                <div class="tab__content">
                    @if (Model.IsBusinessCustomer)
                    {
                        @Html.Partial("_BusinessCustomerDetailsPanel", Model.BusinessCustomerDetailsPanel)
                    }
                    else
                    {
                        @Html.Partial("_MyDetailsPanel", Model.MyDetailsPanel)
                    }
                </div>
                @if (Model.IsBusinessCustomer)
                {
                    <div class="tab__content">
                        <div id="myPagePersons"></div>
                    </div>
                    <div class="tab__content">
                        <div id="myPageAddresses"></div>
                    </div>
                }
                @if (Model.MayUserEditLogin)
                {
                    <div class="tab__content">
                        @Html.Partial("_LoginInfoPanel", Model.LoginInfoPanel)
                    </div>
                }
                <div class="tab__content">
                    @Html.Partial("_OrderHistoryPanel", Model.OrderHistoryPanel)
                </div>

            </section>
        </section>

    </div>
</div>