﻿@model Litium.Accelerator.ViewModels.Product.ProductPageViewModel

@if (Model.ProductItem.Images != null && Model.ProductItem.Images.Any())
{
<div class="row product-images">
    <div id="lightBoxImages"></div>
    <div class="small-12 large-9 columns large-order-1">
        <figure class="product-detail__image-container">
            <a data-src="@Model.ProductItem.Images[0].GetUrlToImage(Size.Empty, Size.Empty).Url" itemprop="url" onclick="window.__litium.events.onProductImageClick(this)" class="product-image">
                @Html.ImageFor(x => Model.ProductItem.Images[0], maxSize: new Size(500, 600), htmlAttributes: new { itemprop = "image", @class = "product-detail__image--main" })
            </a>
        </figure>
    </div>
    <div class="small-12 large-3 columns medium-flex-dir-column">
        <div class="row">
            @for (var i = 1; i < Model.ProductItem.Images.Count; i++)
            {
                var image = Model.ProductItem.Images[i];

                <div class="product-detail__image-container columns large-12">
                    <a data-src="@image.GetUrlToImage(Size.Empty, Size.Empty).Url" itemprop="url" onclick="window.__litium.events.onProductImageClick(this)" class="product-image">
                        @Html.ImageFor(x => image, maxSize: new Size(100, 150), htmlAttributes: new { itemprop = "image", @class = "product-detail__image--alter" })
                    </a>
                </div>
            }
        </div>
    </div>
</div>
}
else
{
    <span class="image-missing">@Html.WebSiteString("product.noproductimage")</span>
}
