﻿@model Litium.Web.Models.Products.ProductPriceModel

@if (Model.TierPrices.Any())
{
    <div class="row-inner product-detail__tier-prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <div class="small-12 columns" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            @foreach (var price in Model.TierPrices)
            {
                <div class="row-inner">
                    <div class="small-6 columns">
                        @if (Model.TierPrices.Count == 1)
                        {
                            @($"{price.MinimumQuantityFormatted} {price.UnitOfMeasurementTitle}")
                        }
                        else if (price.NextMinimumQuantity == null)
                        {
                            @($"{price.MinimumQuantityFormatted}+")
                        }
                        else if (price.MinimumQuantity == price.NextMinimumQuantity)
                        {
                            @($"{price.MinimumQuantityFormatted} {price.UnitOfMeasurementTitle}")
                        }
                        else
                        {
                            @($"{price.MinimumQuantityFormatted} - {price.NextMinimumQuantityFormatted} {price.UnitOfMeasurementTitle}")
                        }
                    </div>
                    <div class="small-6 columns" itemprop="price">
                        @price.FormatPrice(true)/@price.UnitOfMeasurementTitle
                    </div>
                </div>
            }
            <meta itemprop="priceCurrency" content="@Model.Currency.Id" />
        </div>
    </div>
}